@import url(../index.css);
body {
  background-color: var(--primary-background);
}
#banner {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

#banner-logo {
  width: auto;
  height: 90px;
}



#banner-head {
  margin-top: 3.5vw;
  font-size: 5vw;
  color: var(--ghost-white);
  line-height: 120%;
}

#tagline {
  font-size: 2.5vw;
  margin-top: 20px;
  margin-bottom: 40px;
  color: var(--light-green);
}
#home-button-1,
#home-button-2 {
  font-size: 1vw;
  font-weight: bold;
  height: fit-content;
}
.home-button {
  height: fit-content;
  min-width: fit-content;
  background-color: var(--primary-background);
  border-color: var(--light-green);
  margin-right: 20px;
}
.home-button:hover {
  background-color: var(--ghost-white);
  color: var(--primary-background);
  border: 0;
}

#banner_image {
  margin-top: 6vh;
  width: 30vw;
}
