@import url(../index.css);
#steamer-component {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}
#form-logo {
  width: 7vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vh;
}

#form-head {
  font-size: 30px;
  color: var(--ghost-white);
  text-align: center;
  margin-bottom: 5vh;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

#thubnail-div {
  margin: 1vh 0vw 3vh 0vw;
  max-width: 355px;
  width: 355px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form span {
  color: var(--ghost-white);
  font-size: 20px;
}
.form div {
  text-align: center;
}
.form labell {
  /* text-align: left; */
  background: var(--light-green);
  box-sizing: border-box #000000;
  border-radius: 15px;
  margin: 1vh 0vw;
  max-height: 30px;
  height: 50px;
  /* max-width: 355px;
  width: 355px; */
  color: var(--primary-background);
  font-size: 20px;
  line-height: 30px;
  border: none;
  padding: 10px 10px 10px 35px;
}
#imgFileInput {
  /* display: none; */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#thubnail-div label span {
  /* font-size: 1.25em; */
  /* font-weight: 700; */
  color: var(--primary-background);
  background: var(--light-green);
  display: inline-block;
  cursor: pointer;
  /* outline: 1px dotted #000; */
  /* outline: -webkit-focus-ring-color auto 5px; */
  font-size: 20px;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  /* text-align: center; */
  /* box-sizing: border-box #000000;
  border-radius: 15px;
  margin: 1vh 0vw;
  max-height: 30px;
  height: 50px;
  font-size: 20px;
  line-height: 30px;
  border: none;
  padding: 10px 10px 10px 35px; */
}

#imgFileInput:focus label,
#imgFileInput label:hover {
  background-color: red;
}

.form input[type="text"] {
  background: var(--blue2);
  border: solid 1px var(--grey1);
  border-radius: 15px;
  margin: 1vh 0vw;
  max-height: 60px;
  height: 50px;
  max-width: 355px;
  width: 355px;
  color: var(--grey1);
  font-size: 20px;
  line-height: 30px;
  padding: 10px 10px 10px 35px;
}
form input::placeholder {
  color: var(--grey1);
  font-size: 20px;
  line-height: 30px;
}
.form input[type="datetime-local"] {
  background: var(--blue2);
  /* box-sizing: border-box #000000; */
  border: solid 1px var(--grey1);
  border-radius: 15px;
  margin: 1vh 0vw;
  max-height: 60px;
  height: 50px;
  max-width: 355px;
  width: 355px;
  color: var(--grey1);
  font-size: 20px;
  line-height: 30px;
  /* border: none; */
  padding: 10px 10px 10px 35px;
}
.form input[type="submit"] {
  background: var(--light-green);
  box-sizing: border-box #000000;
  border-radius: 19px;
  margin: 1vh 0vw;
  max-height: 60px;
  height: 50px;
  max-width: 355px;
  width: 355px;
  color: var(--primary-background);
  font-size: 20px;
  line-height: 30px;
  border: none;
  padding: 10px 10px 10px 35px;
}

.form input:focus {
  outline: none;
}

.form button {
  width: 400px;
  height: 45px;
  font-size: 20px;
}
.form button :disabled,
button[disabled] {
  background-color: gainsboro;
  color: var(--primary-background);
  outline: auto;
  outline-color: var(--primary-background);
}

/* .drag-area {
  background: var(--blue2);
  border: 1px dashed var(--grey1);
  height: 150px;
  width: 355px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active {
  border: 2px solid #fff;
}
.drag-area .icon {
  font-size: 40px;
  color: var(--grey1);
}
.drag-area header {
  font-size: 15px;
  font-weight: 500;
  color: var(--grey1);
}
.drag-area span {
  font-size: 13px;
  font-weight: 500;
  color: var(--grey1);
  margin: 10px 0 15px 0;
}
.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

 */

.streamkeys h1 {
  color: var(--ghost-white);
}
