@import url(../index.css);

.player-div {
  width: 90vw;
}

.player-div h1 {
  color: var(--ghost-white);
  font-size: 1.8vw;
}
.player-div h3 {
  color: var(--ghost-white);
  font-size: 1.3vw;
  margin: 0;
}

.player-div p {
  color: var(--ghost-white);
  font-size: 1.6vh;
  margin: 0;
}
