@import url(../index.css);

.player-div {
  width: 90vw;
}

.player-div h1 {
  color: var(--light-green);
  font-size: 30px;
}
.player-div h3 {
  color: var(--ghost-white);
  font-size: 1.3vw;
  margin: 0;
}

.player-div p {
  color: var(--ghost-white);
  font-size: 20px;
  margin: 0;
}
